:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    #42a5f5 0%,
    #6366f1 25%,
    #8b5cf6 50%,
    #ec4899 70%,
    #f43f5e 85%,
    #dc2626 100%
  );
}

.VPFeatures svg {
  stroke: #6366f1;
}

.VPFeatures .item {
  width: 100% !important;
}

.VPFeatures .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .VPFeatures .items {
    grid-template-columns: 1fr;
  }
}
